<package-def>
	
    <!-- Модуль возвращающий константы, интерфейсный -->
    <module name="Инициализация" file="Модули/Инициализация.bsl"/>

    <module name="ИнтерфейсSQL" file="Модули/ИнтерфейсSQL.bsl"/>
    <module name="ОбработкаКоманд" file="Модули/ОбработкаКоманд.bsl"/>
    <module name="ФайловыйИнтерфейс" file="Модули/ФайловыйИнтерфейс.bsl"/>
    <module name="ОбщиеПроцедурыФункции" file="Модули/ОбщиеПроцедурыФункции.bsl"/>

    <class name="Протокол" file="Классы/Протокол.bsl"/>
    <class name="ПараметрыРаботы" file="Классы/ПараметрыРаботы.bsl"/>
    <class name="ОбработкаJSON" file="Классы/ОбработкаJSON.bsl"/>

</package-def>